@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,300,500,600,700,800,900);


p2{
  color:#EEEEEE;
  font-family: 'Raleway', sans-serif;
  padding: 15px;
  font-weight: 200;
  font-size: 30px;
  position:relative;
  top:0px;
}
p3{
  color:#EEEEEE;
  font-family: 'Raleway', sans-serif;
  padding: 0px;
  font-weight: 200;
  font-size: 25px;
  position:relative;
  top:0px;
}

<!-- /* Bild-1/ Image-1 */-->
#image_01{
  background-image: url("../images/dinner.jpg");
  background-size:450px;
  width:360px;
  height:300px;
  margin:auto;
  text-align:center;
  transition: all 0.4s;
  position: relative;
  top:40px;
}
<!-- /* Hier kannst du das Bild an sich beim Drüberfahren ändern-->
#image_01:hover{
  opacity:1.0;
  background-size:530px;
}
<!-- /* Hier kannst du entscheiden wie weiß das Bild beim Drüberfahren wird */-->
#image_01:hover #image_01_hover03{
  opacity:0.4;
}
<!-- /* Hier kommt das "THE" eingeflogen */-->
#image_01:hover #image_01_hover{
  opacity:1.0;
   top:100px;
  left:-40px;
}
<!-- /* Hier kommt das "LEAF" eingeflogen */-->
#image_01:hover #image_01_hover02{
top:50px;
  left:40px;
  opacity: 1.0;
}

<!-- /* Position,Schriftart,Schriftgröße usw. von "THE" vor dem Drüberfahren über "#image_01" */-->
#image_01_hover{
  width:77px;
  height: 50px;
  background-color:transparent;
  border-left:2px solid #fff;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  border-right:0px solid #fff;
  position: relative;
  top:120px;
  left:-170px;
  margin:auto;
  opacity: 0.0;
  transition: all 0.4s;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  font-size:35px;
  font-weight:200;
  text-align:center;
}

<!-- /* Position,Schriftart,Schriftgröße usw. von "LEAF" vor dem Drüberfahren über "#image_01" */-->
#image_01_hover02{
  width:110px;
  height: 50px;
  background-color:transparent;
  border-left:0px solid #fff;
  border-top:2px solid #fff;
  border-bottom:2px solid #fff;
  border-right:2px solid #fff;
  position: relative;
  top:66px;
  left:160px;
  margin:auto;
  opacity: 0.0;
  transition: all 0.4s;
  color:#fff;
  font-family: 'Raleway', sans-serif;
  font-size:35px;
  font-weight:200;
  text-align:center;
}

<!-- /* Hier kannst du die Farbe wählen, die erst sichtbar beim Drüberfahren des Bildes wird */-->
#image_01_hover03{
  background-color:#fff;
  width:450px;
  height:310px;
  margin:auto;
  text-align:center;
  transition: all 0.4s;
  position: relative;
  top:-108px;
  opacity:0.0;
}